# Dependabot will run on day 27 of each month at 03:48 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "04:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "HGlab01"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "04:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "HGlab01"
